
{% macro Sidebar(data) %}
  <div class="p-4">
    <h3>Sidebar</h3>
  </div>
  <nav class="nav flex-column">
    {%- for post in data %}
      <a class="nav-link ms-4" href="{{ post.url | url }}">{{ post.data.title}}</a>
    {% endfor %}
  </nav>      
{% endmacro %}