
{% macro Sidebar(data) %}
  <nav class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
    <a class="navbar-brand" href="#"><h2>目录</h2></a>
    {%- for partname, partdata in data %}
      <a class="navbar-brand" href="{{ partdata[0].url | url }}"><h5>{{ partdata[0].data.bigtitle }}</h5></a>
      <nav class="nav nav-pills flex-column">
        {%- for post in partdata %}
          <a class="nav-link ms-3 my-1" href="{{ post.url | url }}">{{ post.data.title}}</a>
        {% endfor %}
      </nav>
    {% endfor %}
    
  </nav>      
{% endmacro %}