<div class="row border-top py-5">
  <div class="col-12">
    <p class="clearfix">
       站点制作 &nbsp; 
      <a href="https://firstmeet.store/" class="link-fancy">@firstmeet</a>. 
      &nbsp;&nbsp;模板选自 &nbsp; 
      <a href="https://github.com/holger1411/11straps" class="link-fancy">11straps.</a>
    </p>
  </div>
</div>

<script src="{{ '/js/bootstrap.bundle.min.js' | url }}"></script>
