---
layout: layouts/blank.njk
---

<div class="container my-vh-6">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-8 my-2 text-center">
      <h1 class="display-3 fw-bolder">
        <strong>Stumulus</strong>
        中文网
      </h1>
      <div class="row d-block pt-4 pb-5 my-vh-3">
        <span id="element" class="lead fs-3"></span>
      </div>
      <a class="btn btn-primary px-5 py-3 me-4 position-relative" href="https://github.com/hotwired/stimulus/releases/tag/v3.2.2" target="_blank" rel="noopener" >Current version
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark"> V3.2.2 <span class="visually-hidden">latest version</span></span></a>
      <a class="link-fancy py-2" href="https://stimulus.hotwired.dev/">Stimulus 官网</a>
    </div>
  </div>
</div>

<div class="wrapper position-relative my-vh-1 bg-light text-dark">
  <div class="bg-white w-50 h-100 position-absolute d-none d-lg-block"></div>
  <div class="container position-relative py-vh-1">
    <div class="row justify-content-between d-flex align-items-stretch py-vh-2">
      <div class="col-12 col-lg-5 d-flex flex-column justify-content-center">
        <h2 class="h2">成熟的开发社区</h2>
        <p>stimulus.js虽然小众，但它依托的是国外最成熟的Web开发社区（Ruby on Rails），因此它的资源是丰富的，也是在持续更新和进步的。</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-4">
        <h2>轻量的框架体积</h2>
        <p>stimulus.js是一个轻量化的组件库，基于原生的html，一方面它比jquery更组件化；另一方面比vue/react等框架更轻量和易于理解。尤其适合后端渲染和服务端驱动的应用场景。</p>
      </div>
    </div>
  </div>
</div>
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script src="/js/typed.js"></script>